@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="/home/post" method="post">
    <label for="ToAccount">To account: </label>
    <input type="text" name="ToAccount" />
    <label for="FromAccount">From account: </label>
    <input type="text" name="FromAccount" />
    <label for="TransferAmount">Amount: </label>
    <input type="text" name="TransferAmount" />
    <input type="submit" name="Transfer" />
</form>
