
@{
    var temp = TempData.FirstOrDefault();

    if (temp.Value != null)
    {
        <ul id="msgs" class="list-unstyled hide">
            <li  data-classe="@temp.Key.ToString()">@temp.Value.ToString()</li>
        </ul>
    }
}






