@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>E-mail:</strong> <a href="mailto:renansouto.lucena@gmail.com">renansouto.lucena@gmail.com</a><br />
    <strong>LinkeIn:</strong> <a href="http://www.linkedin.com/in/renanslucena">LinkedIn</a>
    <strong>GitHub:</strong> <a href="http://www.github.com/renanslucena88">GitHub Renan =)</a>
</address>
